<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Trabalho Prático </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="users !== []">
    <ion-item *ngFor="let user of users" (click)="goToCalc(user)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="aluno">Aluno: {{user.name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="email">Email: {{user.email}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
